<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Orders" subheader="List of all orders">
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [paginator]="true"
        [rows]="3"
        [value]="orders"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['name']"
      [value]="orders" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">User <p-sortIcon field="user"></p-sortIcon></th>
      
                    <th pSortableColumn="totalPrice">
                      Total Price <p-sortIcon field="totalPrice"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dateOrdered">
                      Date Ordered <p-sortIcon field="dateOrdered"></p-sortIcon>
                    </th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="status">Location <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="status">bringProducts <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="status">ForYou <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="status">ServiceFrequency <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="status">HouseType <p-sortIcon field="status"></p-sortIcon></th>

                </tr>
            </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
               <td>{{order.user  }}</td>
              <td>{{ order.totalPrice }}</td>
              <td>{{ order.date | date: 'short' }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.location }}</td>
              <td>{{ order.bringProducts }}</td>
              <td>{{ order.forYou }}</td>
              <td>{{ order.serviceFrequency }}</td>
               <td>{{ order.houseType }}</td>

 

              <td>
                
                <p-button
                  (click)="showOrder(order.id)"
                  styleClass="p-button-success"
                  icon="pi pi-eye"
                ></p-button>
              </td>
               
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
 