<div id="username-page"  >
    <div class="username-page-container">
        <h1 class="title">Type your username</h1>
        <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" formControlName="username" id="name" placeholder="Username"
                       autocomplete="off" class="form-control" />
            </div>





            <div class="form-group">
                <button type="submit" class="accent username-submit" >Start Chatting</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" >
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat Room</h2>
        </div>
        <div [hidden]="connected" class="connecting">Connecting...</div>
        <ul id="messageArea">
            <li *ngFor="let message of messages">
                <span>{{ message.sender }}:</span> {{ message.content }}
            </li>
        </ul>
        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" formControlName="content" id="message" placeholder="Type a message..."
                           autocomplete="off" class="form-control" />
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>