<p-toast></p-toast>
<div class="admin-page">

    <p-card header="New Products" subheader="List of all New Products">
        <div class="p-grid"> </div>
        <div class="p-col-12">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <p-button label="New" icon="pi pi-plus" (click)="displayDialog = true"></p-button>
                 </div>
            </p-toolbar>
        </div>


        <div class="p-grid">

            <div class="p-col-12">
                <p-table
          [paginator]="true"
          [rows]="5"
          [value]="produits"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="['name']"
        >
                     <ng-template pTemplate="header">
                        <tr>
                            <th style="color: #0093e9;" pSortableColumn="name"> Title <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th style="color: #0093e9;">Description</th>
                            
                            <th style="color: #0093e9;" pSortableColumn="stock"> Contenu <p-sortIcon field="stock"></p-sortIcon>

                            <th style="color: #0093e9;"  pSortableColumn="category"> Image Principale<p-sortIcon field="category"></p-sortIcon>
                            <th style="color: #0093e9;" pSortableColumn="category"> Image 1<p-sortIcon field="category"></p-sortIcon>
                            <th style="color: #0093e9;" pSortableColumn="category"> Image 2<p-sortIcon field="category"></p-sortIcon>
                            <th style="color: #0093e9;" pSortableColumn="category"> Image 3<p-sortIcon field="category"></p-sortIcon>
                            <th style="color: #0093e9;"pSortableColumn="create"> Video <p-sortIcon field="create"></p-sortIcon>
 

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-produits>
                        <tr>
                            <td style="font-weight: bold;">{{produits.title }}</td>
                            <td [innerHTML]="produits.description" style="font-weight: bold;"></td>
                            <td [innerHTML]="produits.contenu" style="font-weight: bold;"></td>
                            
                
                              <td ><img [src]="produits.image" style="width: 40%" alt="" /></td>
                              <td ><img [src]="produits.image1" style="width: 40%" alt="" /></td>
                              <td ><img [src]="produits.image2" style="width: 40%" alt="" /></td>
                              <td ><img [src]="produits.image3" style="width: 40%" alt="" /></td>


                               <td><video [src]="produits.video" controls style="width: 40%" alt="Video not supported"></video></td> 
                               <td>
                                <p-button  
                         (click)="deleteProd(produits.id)"
                            styleClass="p-button-danger p-mr-1"
                           icon="pi pi-trash"
                         ></p-button>
                            </td>

                            <td>
                              <button  
                              (click)="updateProd(produits.id)"
                               pButton pRipple label="Update"
                              icon="pi pi-pencil"
                              ></button>
              
               
                            </td>
                         
                        </tr>


                     </ng-template>
                </p-table>

            </div>

        </div>

    </p-card>


    <p-dialog header="Add " [(visible)]="displayDialog" [responsive]="true" [modal]="isModal"
    [style]="{width: '80%', height: '70%'}">
        <form #addClaimForm="ngForm" (ngSubmit)="_addCategory(convertToFormData(newProduit))">
          <div class="p-fluid">
            <div class="p-field">
              <label for="Title" style="font-weight: bold;">Title</label>
              <input id="Title" type="text" pInputText placeholder="Enter Title" name="Title"
                  [(ngModel)]="newProduit.title" required />
              </div>
              <div class="p-field">
                <label for="Title" style="font-weight: bold;">Description</label>
                <input id="Title" type="text" pInputText placeholder="Enter description" name="Description"
                [(ngModel)]="newProduit.description" 
                required />
                </div>
  


 
              
              <div class="p-field">
                <label for="contenu" 
                style="font-weight: bold;"
                >Contenu</label>
                <p-editor 
                  [(ngModel)]="newProduit.contenu" 
                  name="contenu" 
                  [style]="{ height: '150px', 'font-size': '18px' }"
                  class="custom-editor">
                </p-editor>
              </div>
              

            <div class="p-field">
              <label for="date" 
              style="font-weight: bold;"
              >Image Principale</label>
              <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)"  />
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 70%" [src]="imageDisplay" alt="" />
            </div>
            </div>
            <div class="p-field"
            style="font-weight: bold;"
            >
              <label for="date">Image 1</label>             
              <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload2($event)"  />
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 20%" [src]="imageDisplay3" alt="" />
            </div>
            </div>


            <div class="p-field">
              <label for="date"
              style="font-weight: bold;"
              >Image 2</label>
              <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload3($event)"  />
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 20%" [src]="imageDisplay4" alt="" />
</div>

            </div>

            <div class="p-field">
              <label for="date"
              style="font-weight: bold;"
              >Image 3</label>             
              <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload4($event)"  />
              <div class="p-col-2 p-mt-2 p-pl-0">
                <img style="width: 20%" [src]="imageDisplay5" alt="" />
            </div>
            </div>

            <div class="p-field"
            style="font-weight: bold;"
            >
                <label for="date">Video</label>
                <input type="file" class="p-inputtext" accept="video/*" (change)="onVideoUpload($event)">
                <div class="p-col-2 p-mt-2 p-pl-0">
                  <img style="width: 70%" [src]="imageDisplay2" alt="" />
              </div>
              </div>
          </div>
          <p-footer>
            <button type="submit" pButton label="Save" ></button>
            <button type="button" pButton label="Cancel" (click)="displayDialog = false"></button>
          </p-footer>
        </form>
      </p-dialog>



      <p-confirmDialog header="Delete"></p-confirmDialog>


</div>